html, body {
	height: 100%;
	width: 100%;
	margin: auto;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('_resources/font/OpenSans-Regular-webfont.eot');
	src: url('_resources/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('_resources/font/OpenSans-Regular-webfont.woff2') format('woff2'),
		url('_resources/font/OpenSans-Regular-webfont.woff') format('woff'),
		url('_resources/font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0370-03FF, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('_resources/font/OpenSans-Semibold-webfont.eot');
	src: url('_resources/font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('_resources/font/OpenSans-Semibold-webfont.woff2') format('woff2'),
		url('_resources/font/OpenSans-Semibold-webfont.woff') format('woff'),
		url('_resources/font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0370-03FF, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
 * Open Sans extended (cyrillic, cyrillic-ext, latin-ext, greek-ext, vietnamese)
 */

@font-face {
	font-family: 'open_sansregular';
	src: url('_resources/font/opensans-all/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('_resources/font/opensans-all/OpenSans-Regular-webfont.woff2') format('woff2'),
		url('_resources/font/opensans-all/OpenSans-Regular-webfont.woff') format('woff'),
		url('_resources/font/opensans-all/OpenSans-Regular-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('_resources/font/opensans-all/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('_resources/font/opensans-all/OpenSans-Semibold-webfont.woff2') format('woff2'),
		url('_resources/font/opensans-all/OpenSans-Semibold-webfont.woff') format('woff'),
		url('_resources/font/opensans-all/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

body {
	position: fixed;
	bottom: 0;
	background-color:#E5E5E5;
	color:#333;
	overflow:hidden;
	font-family: 'open_sansregular', sans-serif;
}

body.mobile-view {
	position: initial;
	bottom: initial;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, form {
	margin: 0;
}

strong {
	font-family: 'open_sanssemibold', sans-serif;
	font-weight: bold;
}

img {
	border:none;
	outline:none;
}

textarea {
	resize: none;
}

#contentPanel {
	position: relative;
	width:100%;
	height:100%;
	-webkit-overflow-scrolling: touch;
}

.bingLogo-lg {
	display: none;
}

a {
	color:#555;
	font-weight:bold;
	text-decoration:none;
	cursor: pointer;
}

a:hover{
	text-decoration:underline;
}

/*
 * Scrollbar
 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/*
 * Esri Identity Manager
 */

.esriSignInDialog {
	z-index: 2000  !important;
}

/*
 * Error box
 */

#fatalError {
	position: absolute;
	display: none;
	z-index: 3000;
	top: 50%;
	left: 0px;
	width: 100%;
}

#fatalError > table {
	margin-top: -42px;
	margin-left:-247px;
	max-width: 490px;
	min-height: 85px;
	background-color: white;
	border: 2px solid #428BC9;
	padding:0px;
	margin-left: auto;
	margin-right: auto;
}

#fatalError .error-title {
	margin-right: 12px;
}

#fatalError .error-msg {
	margin-top: 8px;
	padding-bottom: 8px;
	margin-right: 8px;
}

#fatalError-icon {
	background: url('_resources/icons/warning-icon.png') 0 0px;
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position: 5px 10px;
}

/*
 * MISC
 */
.smallLoader {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(_resources/icons/loader.gif);
	vertical-align: -4px;
	margin-left: 4px;
}

.small-loader {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../../../resources/tpl/viewer/icons/loading-light.gif);
	background-size: 17px 20px;
	background-repeat: no-repeat;
	vertical-align: -5px;
	margin-right: 2px;
}

/*
 * My Stories
 */

#my-stories-hidden-container {
	position: absolute;
	bottom: -2800px;
	left: 0;
	visibility: hidden;
}

/*
 * Bootstrap override
 */
.tooltip-inner {
	text-align: left;
}

/* something seems to go wrong during the build and this is rule from bootstrap is removed */
input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
}

/* looks like ugify is not happy and is not altering this since bootstrap 3.3.5 */
.btn .caret {
	border-top: 4px dashed;
}

.dropup .btn .caret {
	border-top: 0;
	border-bottom: 4px dashed;
}

.claro .dijitTooltip {
	box-sizing: initial;
}

/* make this not visible until it has focus.
  requires two levels of selector because bootstrap is imported after our custom css :\ */
button.visible-on-focus {
	opacity: 0;
	pointer-events: none;
	cursor: default;
	margin: 0 auto;
	border: none;
	border-radius: 0;
	outline-width: medium;
}

button.visible-on-focus:not(.link) {
	background: white;
	color: #333;
	padding: 10px 20px;
}

button.visible-on-focus:focus {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
}

button.visible-on-focus.link {
	background: none;
	padding: 0;
	border-bottom: 1px dashed #aaa;
}

/* for some reason bootstrap took focus ring off button in firefox */
button:not(.clicked):focus::-moz-focus-inner {
	border: 1px dotted;
}
