<div class="backdrop"></div>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-logo"></div>
		<div class="modal-header">
			<h4 class="modal-title"></h4>
		</div>
		
		<div class="modal-body">
			<!-- Title field -->
			<div class="form-group titleContainer">
				<input type="text" class="form-control title clear" placeholder="" spellcheck="true"/>
				<span class="glyphicon glyphicon-remove form-control-feedback"></span>
			</div>
			
			<div class="tab-pane viewMediaSelectorContainer"></div>
		</div>
		
		<div class="modal-footer">
			<span class="modal-footer-left"><button class="btn btn-back btn-naked">< <%= btnBack %></button></span>
			<span class="btnSubmitWrapper" data-toggle="tooltip"">
				<button class="btnSubmit btn btn-primary" ></button>
			</span>
			<button class="btnCancel btn btn-naked btn-close"><%= btnCancel %></button>
			<div class="btnSubmitTooltipContainer"></div>
		</div>
	</div>
</div>