<div class="settings-mapoptions">
	<div class="checkbox">
		<label>
			<input type="checkbox" class="opt-checkbox-overview" />
			<%= lblOverview %>
			<a href="#" class="help" data-toggle="tooltip" data-placement="right" title="<%= tooltipOverview %>">
				<img class="helpImg" src="resources/tpl/builder/icons/builder-help.png">
			</a>
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" class="opt-checkbox-locateBtn" />
			<%= lblLocate %>
			<a href="#" class="help" data-toggle="tooltip" data-placement="right" title="<%= tooltipLocate %>">
				<img class="helpImg" src="resources/tpl/builder/icons/builder-help.png">
			</a>
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" class="opt-checkbox-geocoder" />
			<%= lblGeocoder %>
			<a href="#" class="help" data-toggle="tooltip" data-html="true" data-placement="right" title="<%= tooltipGeocoder %>">
				<img class="helpImg" src="resources/tpl/builder/icons/builder-help.png">
			</a>
		</label>
	</div>

	<div class="checkbox" style="margin-top: 28px">
		<label>
			<input type="checkbox" class="opt-checkbox-sync" />
			<%= lblSync %>
			<a href="#" class="help" data-toggle="tooltip" data-placement="right" title="<%= tooltipSync %>">
				<img class="helpImg" src="resources/tpl/builder/icons/builder-help.png">
			</a>
		</label>
	</div>
</div>