#header {
	/*height: 115px;*/
	/* TODO */
	background: #444;
	color: #fff;

	margin: 0;
	overflow: hidden;
}

#header .title {
	font-family: 'open_sanssemibold', sans-serif;
}

/*
 * Desktop
 */

#headerDesktop {
	position: relative;
	height: 115px;
}

#headerDesktop.compact {
	height: 60px;
}

#header.hideDesktop {
	height: 0px;
}

#header.hideDesktop #headerDesktop {
	display: none;
}

#headerDesktop.hideDesktop {
	height: 0px;
}

#headerDesktop .title {
	height: 45px;
	padding-top: 3px;
	font-size: 24px;
	font-weight: normal;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	line-height: inherit;
}

/* In view mode add ellipsis if title is too long */
#headerDesktop:not(.isBuilder) .title {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	white-space: pre;
}

#headerDesktop .title.titleEmpty .text_edit_label {
	color: #F00;
}

#headerDesktop .title.titleEmpty .text_edit_icon {
	background-color: #F00;
}

#headerDesktop .subtitle {
	font-size: 13px;
	overflow: hidden;
	overflow-y: auto;
	font-weight: normal;
	line-height: 18px;
	word-wrap: break-word;
	height: 54px;
	color: #C5D5D5;
}

#headerDesktop.compact .subtitle {
	display: none;
}

#headerDesktop .title,
#headerDesktop .subtitle {
	padding-left: 4px;
}

#headerDesktop .rightArea {
	position: absolute;
	right: 0px;
	top: 0px;
	padding-top: 22px;
	padding-right: 20px;
	text-align: right;
}

#headerDesktop.compact .linkSocialContainer {
	display: inline-block;
	height: 60px;
}

#headerDesktop .linkContainer a {
	/*color: #C5D5D5;*/
	font-weight: normal;
	color: inherit !important;
}

#headerDesktop .linkContainer a:hover {
	color: inherit !important;
}

#headerDesktop.compact .logoContainer {
	display: inline-block;
	margin: -22px 0 0 16px;
	float: right;
}

#headerDesktop .shareBtns {
	margin-left: 8px;
}

#headerDesktop .shareIcon {
	opacity: 0.9;
	color: inherit !important;
	/* since we changed these to buttons, get rid of button styling */
	background: none;
	border: none;
	padding: 0;
}

#headerDesktop .shareIcon:hover {
	opacity: 1.0;
}

#headerDesktop .logoContainerInner {
	height: 60px;
	float: right;
	margin-top: 5px;
}

#headerDesktop.compact .logoContainerInner {
	margin-top: 0;
}

#headerDesktop .logoWrapper {
	height: 50px;
	vertical-align: middle;
}

#headerDesktop .logoImg {
	max-width: 250px;
	max-height: 50px;
}

/*
 * Switch to builder
 */

#headerDesktop .switchBuilder {
	display: none;
}

#headerDesktop .switchBuilder .switch-builder-close {
	margin-left: 5px;
	cursor: pointer;
	pointer-events: all;
}

/*
 * My Stories
 */

#headerDesktop .error-status {
	display: none;
}

#headerDesktop .error-status.enabled {
	display: inline-block;
}

#headerDesktop .error-status .check-story {
	display: none;
    margin-top: -2px;
    margin-right: 10px;
}

#headerDesktop .error-status .check-story.btn-success:not(.forceEvent) {
	pointer-events: none;
}

#headerDesktop .error-status .check-story-close {
	margin: 0px 3px 0px 5px;
	cursor: pointer;
	pointer-events: all;
}

#headerDesktop .error-status .share-story {
	height: 24px;
    margin-top: -2px;
    margin-right: 10px;
}


/*
 * Builder
 */

#headerDesktop.isBuilder .title {
	padding-right: 9px;
}

#headerDesktop .text_edit_input {
	/* Position on top of the config panel */
	position: relative;
	z-index: 501;
}

/* Reduce the width of the field to be sure that icon will stay visible */
#headerDesktop .text_edit_label {
	max-width: 94%;
	overflow: hidden;
}

#headerDesktop .title .text_edit_input {
	font-size: 24px;
	width: 98%;
	padding: 0px 5px 2px 0px;
	overflow: hidden;
	margin-left: -1px;
	line-height: 32px;
}

#headerDesktop .title .text_edit_icon {
	margin-top: -12px;
	margin-left: 8px;
}

#headerDesktop .subtitle .text_edit_input {
	font-size: 13px;
	line-height: 16px;
	width: 97%;
	padding: 0;
}

#headerDesktop .subtitle .text_edit_icon {
	position: absolute;
	margin-top: -6px;
	margin-left: 8px;
}

#headerDesktop .textArea {
	padding-top: 10px;
	padding-left: 16px;
	width: 70%;
}

#headerDesktop .title.error {
	color: red;
}
