/*
 * Rules for CKEditor content
 */

.textEditorContent {
	font-size: 0.9em;
	word-wrap: break-word;
	word-break: break-word;
}

.textEditorContent img {
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.textEditorContent ul {
	margin: inherit;
	padding: 10px 40px;
}

.textEditorContent .description table,
.textEditorContent .description th,
.textEditorContent .description td {
  border: 1px dotted #d3d3d3;
}

.textEditorContent .description abbr[title] {
  border: none;
}

.textEditorContent .description select {
  font-family: unset;
  color: initial;
}

.textEditorContent .description h1,
.textEditorContent .description h2,
.textEditorContent .description h3,
.textEditorContent .description h4,
.textEditorContent .description h5,
.textEditorContent .description h6,
.textEditorContent .description p,
.textEditorContent .description ul {
  margin: 0.5em 0;
}

.textEditorContent .description hr {
  border-color: #ccc;
}