<div class="mainMediaContainer" tabindex="0" aria-label="<%= altText %>">
    <div class="mapContainer" data-webmapid="<%= webmapid %>" data-temporary="<%= isTemporary %>"></div>
	<div class="overview"></div>
	<div class="legend"></div>
	<div class="geocoder"></div>
	<div class="mainStageErrorContainer">
		<div class="error"></div>
	</div>
	<button class="visible-on-focus return-to-content bottom"><%= focusToPanel %></button>

	<div class="mobilePopup mobileInfo hideContent">
		<div class="content-toggles">
			<div class="btn-group">
				<button type="button" class="btn btn-default" data-value="description"><%= lblDescription %></button>
				<button type="button" class="btn btn-default" data-value="legend"><%= lblLegend %></button>
			</div>
		</div>
		<div class="content-containers">
			<div class="content-container description textEditorContent"></div>
			<div class="content-container legendMobile">
				<div style="text-align: center">
					<%= lblLegendMobileError %>
				</div>
				<div class="legendMobileErrorExplain"><%= lblLegendMobileErrorExplain %></div>
			</div>
		</div>
	</div>
	<div class="mobilePopup mobileInfoWindow hideContent">
		<div class="dijitContainer"></div>
	</div>

	<div class="mapLocationError">
		<div class="mapLocationMsg"></div>
	</div>
</div>