<div class="entry <%= optHtmlClass %>">
	<div class="accordion-header"> 					<!-- todo rename all that prefixing -->
		<div class="accordion-header-arrow"></div>
		<table class="accordion-header-content" tabindex="0">
			<tr>
				<% if ( index >= 10 ) { %>
					<td class="accordion-header-number twodigits"><%= index %></td>
				<% } else { %>
					<td class="accordion-header-number"><%= index %></td>
				<% } %>
				<td class="accordion-header-title">
					<h2 class="accordion-header-title-wrapper"><%= title %></h2>
				</td>
			</tr>
		</table>
		<% if ( isInBuilder ) { %>
			<div class="panelEditBtn">
				<div class="panelEditBtnInner"></div>
			</div>
		<% } %>
	</div>
	<div class="accordion-content">
		<% if ( ! isInBuilder ) { %>
			<div class="centering focus-mainstage-wrapper">
				<button class="link visible-on-focus focus-mainstage"><%= lblMainstageBtn %></button>
			</div>
			<div class="description">
				<%= description %>
			</div>
		<% } else { %>
			<textarea name="descriptionEditor" class="descriptionEditor" placeholder="<%= editorPlaceholder %>">
				<%= description  %>
			</textarea>
		<% } %>
	</div>
</div>