.footerMobile {
	display: none;
	height: 70px;
}

/*
 * Entry container
 */

.footerMobile .swiper-container {
	height: 70px;
}

.footerMobile.hasDesktopBtn .swiper-container {
	padding: 0 51px;
}

/*
 * Special case when only one entry
 */
 
.footerMobile.oneEntry,
.footerMobile.oneEntry .swiper-container
 {
	height: 50px;
}

/*
 * Swipe invite for mobile user
 */

.footerMobile .tooltip {
	opacity: 1.0;
}

.footerTooltip {
	display: inline-block;
	padding: 15px;
	font-size: 16px;
}

.tooltip-inner {
	max-width: 350px !important;
}

/*
 * Entry
 */

.footerMobile .entry {
	padding: 5px 10px;
	text-align: center;
}

.footerMobile.hasDesktopBtn .entry {
	padding-right: 108px;
}

.footerMobile .title,
.footerMobile .next {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.footerMobile .title {
	font-family: 'open_sanssemibold', sans-serif;
	font-size: 2em;
}

.footerMobile .title .glyphicon {
	font-size: 0.7em;
	cursor: pointer;
}

.footerMobile .next {
	font-size: 0.95em;
	margin-top: 1px;
}

/*
 * Desktop navigation
 */
 
.footerMobile .embed-btn-container {
	display: none;
}

.footerMobile.hasDesktopBtn .embed-btn-container {
	position: absolute;
	top: 0;
	display: block;
	width: 51px;
	height: 100%;
	z-index: 1;
	opacity: 0.8;
	padding-top: 14px;
}

.footerMobile .embed-btn-container.disabled {
	opacity: 0.2;
	cursor: default;	
}
 
.footerMobile .embed-btn {
	width: 42px;
	height: 42px;
	background: url(../../../../../resources/tpl/viewer/icons/embed-arrows.png);
}

.footerMobile .embed-btn-container:not(.disabled):hover {
	opacity: 1.0;
	cursor: pointer;
}

/* Left button */
.footerMobile .embed-btn-left {
	left: 0;
	padding-left: 9px;
}

.footerMobile .embed-btn-left.disabled .embed-btn {
	background-position: 42px 0;
	visibility: hidden;
}

/* Right button */
.footerMobile .embed-btn-right {
	right: 0;
	padding-right: 9px;
}

.footerMobile .embed-btn-right .embed-btn {
	background-position: 0 -42px;
}

.footerMobile .embed-btn-right.disabled .embed-btn {
	background-position: 42px -42px;
	visibility: hidden;
}